.div_home{
    margin: 20px; 
    border-style: solid; 
    border-color: black;
    border-width: 2px; 
}

.buttonshow{
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    padding: 15px;
    position: relative;
    text-align: left; 
    background-color: #cac7c7; 
    padding-top: 0; 
    padding-bottom: 0; 
}

.busqueda  {
    /* display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start ;
    margin-bottom: 0px; */
    color:  #a5272c; 
    font-weight: bolder;
}


.minus  {
    font-size: 20px; 
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    padding-right: 5px;
}