.form {
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  margin: 20px;
  padding: 15px;

}

label {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between none;
  justify-content: end; 
  align-items: center;
  margin: 15px 0px;
}

.title_label {
display: flex;
justify-content: flex-start;
width: 20%; 
}

.input_icon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.input_normal {
  max-width: 80%;
  min-width: 70%;
  justify-self: left; 
  height: 30px;
}

.input_half {
  max-width: 40%;
  min-width: 35%;
  height: 30px;
}

.icon {
  padding-left: 5px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon:hover {
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 15px;
  padding-top: 0;
}

.button {
  margin-right: 5px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
  color: black;
}

.disabled {
  margin-right: 5px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  color: white;
  background-color: grey;
  cursor: no-drop; 
}

.button:hover {
  cursor: pointer;
  color: grey;
}
.generaltext {
  font-size: 20px;
}
