.tableContainer{
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    padding: 15px;
}

.tcell{
    text-align: center;
    font-size: small;
    padding: 10px 35px !important; 
}


.excelicon{
    font-size:30px;
    display: inline;
    justify-content: space-between;
    color: green; 
    margin: 20px; 
    margin-left: 5px
}


.buttonstable{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 0;
    
}

.button{
    margin-right: 5px;
    padding: 5px 20px;
    display:flex;
    align-items: center;
    border-radius: 10px;
}

.textspaced{
    margin-right: 5px; 
    margin-top: 7px; 
}


.results{
    width: 100%;
    display: inline-flex;
    justify-content: end;
    padding: 15px;
    padding-top: 0;
}

.table{
    overflow-y:scroll ;
    display:block;
    border: 2px solid; 
    border-color: black; 
    background-color: #e8e8e8; 
    width: fit-content; 
    border-collapse: collapse;
 }

 /* th, td {
     border: 1px solid; 
     border-color: black; 
 } */

 .table_wrapper{
     display: flex; 
     justify-content: start;
     overflow-y: auto;
     max-height: 500px; 
 }

 .table_wrapper thead th{
    position: sticky;
    top: 0; 
    background-color: white;
 }
